:root {
  --background-color: #0c0c0c;
  /* --background-color: #000000; This is perfect black */
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

html {
  font-family: Outfit;
}

body {
  background-color: var(--background-color);
}

button {
  all: unset;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1rem calc(1rem + 2vw);
  background-color: #000000;
  border: solid 1.5px #313131;
  border-radius: 2.5rem;
  margin: 2rem auto;
  width: fit-content;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li a {
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 1rem;
  }
}

#sun-icon svg{
  display: block;
  fill: yellow !important;
  width: 30px;
  height: 30px;
}